<footer class="footer">
  <div class="footer-container">
    Apoio: <a href="http://ufsc.br/" target="_blank">UFSC</a> / <a href="http://cnpq.br/" target="_blank">CNPq</a>
    <div class="footer-right">
      {% if page.url == "/" %}
        <figure class="map">
          <figcaption class="map-legend">
              <span class="legent-ball legend-ball-mother-language">•</span>
              Comunidade de países de língua portuguesa
              <br>
              <span class="legent-ball legend-ball-second-language">•</span>
              Países com importantes comunidades de falantes
              <br>
              <span class="legent-ball legend-ball-second-language" style="color:transparent;">•</span>
              Fonte: <a href="https://www.cplp.org" target="_blank">https://www.cplp.org</a>
          </figcaption>
        </figure>
      {% else %}

      {% endif %}
    </div>
  </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="/js/main.js"></script>
