<footer class="footer">
  <div class="footer-container">
    <b>Apoio:</b>
    <br>
    <a href="http://ufsc.br/" target="_blank">
      <img style="width:180px;" src="/img/footer-logo-ufsc.png" alt="">
    </a>
    <a href="http://cnpq.br/" target="_blank">
      <img style="width:110px;margin-left:20px;" src="/img/footer-logo-cnpq.png" alt="">
    </a>
    <div class="footer-right">
      {% if page.url == "/" %}
        <figure class="map">
          <figcaption class="map-legend">
              <span class="legent-ball legend-ball-mother-language">● </span>
               Comunidade de países de língua portuguesa
              <br><br>
              <span class="legent-ball legend-ball-second-language">● </span>
               Países com importantes comunidades de falantes
              <br>
              <span class="legent-ball legend-ball-second-language" style="color:transparent;">•</span>
              &nbsp;&nbsp; Fonte: <a href="https://www.cplp.org" target="_blank">https://www.cplp.org</a>
          </figcaption>
        </figure>
      {% else %}

      {% endif %}
    </div>
  </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="/js/main.js"></script>
