<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1">
  <title>{{ site.title }}</title>
  <meta name="description" content="Leopardi em Língua Portuguesa">
  <meta name="robots" content="index, follow">
  {% if page.metatags %}
    <meta name="keywords" content="{{page.metatags}}">
  {% endif %}
  <link href="{{ site.baseurl }}/css/main.css" rel="stylesheet">
  <link rel="icon" href="/img/favico.png" type="image/png">
  <link rel="canonical" href="">
  <link rel="alternate" type="application/rss+xml" title="Leopardi em Lí­gua Portuguesa" href="/feed.xml">
</head>
