{% include head.html %}
  <body>
    <div class="container">
      <div class="container-inside">
        <nav class="navegation">
          <a href="{{site.baseurl}}/" class="content-centered-display-none">
            <img class="logo-home-top" src="img/giacomo_image.png" alt="">
          </a>
          <div class="header-navegation">
            <a href="{{site.baseurl}}" class="header-logo logo"></a>
            <div class="navegation-link-content">
              <a class="navegation-link" href="{{site.baseurl}}/">Apresentação</a>
              <a class="navegation-link" href="{{site.baseurl}}/biografia.html">Biografias</a>
              <a class="navegation-link" href="{{site.baseurl}}/traducoes.html">Traduções</a>
              <a class="navegation-link" href="{{site.baseurl}}/artigos.html">Artigos</a>
              <a class="navegation-link" href="{{site.baseurl}}/livros.html">Livros</a>
              <a class="navegation-link" href="{{site.baseurl}}/teses.html">Teses</a>
              <a class="navegation-link" href="{{site.baseurl}}/dissertacoes.html">Dissertações</a>
              <a class="navegation-link" href="{{site.baseurl}}/outros.html">Outros</a>
            </div>
          </div>
        </nav>
        <div class="content">
          {% include header_page.html %}

          <main id="content" role="main" class="content-wrap">
            {{ content }}
          </main>
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
